{% load static %}
<!Doctype html>

<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Red social orientada a programadores y profesionales de la informatica">
		<meta name="keywords" content="red social, programadores, red social para programadores, chat">
		<meta name="author" content="Martín Fernández Santía">
		<title>{% block title %}{% endblock %}</title>
		<link rel="icon" href="{% static 'img/favicon.ico' %}">		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Oswald:wght@700&display=swap" rel="stylesheet">
		{% block head %}{% endblock %}
	</head>
	
	<body>
		<div class="container-fluid p-0 overflow-x-hidden" itemscope itemtype="https://schema.org/WebSite" style="display: contents;">
			{% block content %}
			
			{% endblock %}
		</div>

		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="https://kit.fontawesome.com/edaf71ca46.js" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
		<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script> 
		<script src="http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js"></script>
		<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script> 
		{% block javascript %}{% endblock %}
	</body>
</html>